* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: Black;
  font-family: Helvetica, Arial, sans-serif;
}

/* Header / navbar styles begin */

header {
  background-color: #111111;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 35px 20px 0;
}
header h1 {
  background-color: SkyBlue;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0 25px 0 35px;
}

.header-title {
  color: #111111;
  text-decoration: none;
}

header a {
  color: SkyBlue;
  text-decoration: none;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  border-bottom: 3px solid;
  border-color: SkyBlue;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 10px 15px;
}

header nav ul li a:hover {
  background: White;
  border-radius: 15px;
  color: Black;
  text-shadow: none;
}
/* Header / navbar styles end */

/* Section tag style */

section {
  padding: 60px;
}

/* Hero styles begin */

.hero {
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.subtitle {
  background-color: SkyBlue;
  color: #111111;
  font-size: 36px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Hero styles end */

/* Grid styles begin */
.grid {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.grid div {
  background-color: AliceBlue;
}

/* Section title style */
.section-title {
  color: SteelBlue;
  font-size: 48px;
  text-align: right;
  margin: 0 auto 35px auto;
  padding-bottom: 20px;
  padding-right: 20px;
}

/* About Me Styles Begin */
.grid-about-me-title {
  border-right: 3px solid;
  border-color: SteelBlue;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid-about-me-content {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 20px;
  text-align: center;
}

.grid-about-me-content h3 {
  color: SteelBlue;
}
/* About Me Styles End */

/* Work styles begin */
.grid-work-title {
  border-right: 3px solid;
  border-color: SteelBlue;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}

.taskinator {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
  text-align: center;
}
