* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: Black;
  font-family: Helvetica, Arial, sans-serif;
}

/* Header / navbar styles begin */

header {
  background-color: #111111;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 35px 20px 0;
}
header h1 {
  background-color: SkyBlue;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0 25px 0 35px;
}

.header-title {
  color: #111111;
  text-decoration: none;
}

header a {
  color: SkyBlue;
  text-decoration: none;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  border-bottom: 3px solid;
  border-color: SkyBlue;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 10px 15px;
}

header nav ul li a:hover {
  background: White;
  border-radius: 15px;
  color: Black;
  text-shadow: none;
}
/* Header / navbar styles end */
